{% extends "_layout" %}
{% block content %}

    <div class="hero min-h-0 lg:min-h-screen">
        <div class="hero-content flex-col lg:flex-row-reverse">
            <img src="https://placeimg.com/260/400/arch" class="max-w-sm rounded-lg shadow-2xl" />
            <div>
                <h1 class="text-5xl font-bold">Box Office News!</h1>
                <p class="py-6">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.</p>
                <button class="btn btn-primary">Get Started</button>
            </div>
        </div>
    </div>

    <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-2.5 sm:gap-5 lg:gap-10 px-2.5 sm:px-5 lg:px-10 py-10 sm:py-20">
        <div class="card w-full bg-base-100 shadow-xl overflow-hidden">
            <figure><img src="https://placeimg.com/400/225/arch" alt="Shoes" class="w-full" /></figure>
        </div>

        <div class="card w-full bg-base-100 shadow-xl overflow-hidden">
            <figure><img src="https://placeimg.com/400/225/arch" alt="Shoes" class="w-full" /></figure>
        </div>

        <div class="card w-full bg-base-100 shadow-xl overflow-hidden">
            <figure><img src="https://placeimg.com/400/225/arch" alt="Shoes" class="w-full" /></figure>
        </div>
    </div>

    <h2 class="text-3xl lg:text-5xl font-bold px-2.5 sm:px-5 lg:px-10 pb-10 sm:pb-20">Naši Najnovší zachránenci</h2>

    <div class="news-swiper w-full overflow-hidden pl-2.5 pr-2.5 sm:pr-0 sm:pl-5 lg:pl-10 pb-10 sm:pb-20">
        <div class="swiper-wrapper">
            <div class="card w-96 bg-base-100 shadow-xl swiper-slide">
                <figure><img src="https://placeimg.com/400/225/arch" alt="Shoes" class="w-full" /></figure>
                <div class="card-body">
                    <h2 class="card-title">
                        Shoes!
                        <div class="badge badge-secondary">NEW</div>
                    </h2>
                    <p>If a dog chews shoes whose shoes does he choose?</p>
                    <div class="card-actions justify-end">
                        <div class="badge badge-outline">Fashion</div>
                    </div>
                </div>
            </div>

            <div class="card w-96 bg-base-100 shadow-xl swiper-slide">
                <figure><img src="https://placeimg.com/400/225/arch" alt="Shoes" /></figure>
                <div class="card-body">
                    <h2 class="card-title">
                        Shoes!
                        <div class="badge badge-secondary">NEW</div>
                    </h2>
                    <p>If a dog chews shoes whose shoes does he choose?</p>
                    <div class="card-actions justify-end">
                        <div class="badge badge-outline">Fashion</div>
                    </div>
                </div>
            </div>

            <div class="card w-96 bg-base-100 shadow-xl swiper-slide">
                <figure><img src="https://placeimg.com/400/225/arch" alt="Shoes" /></figure>
                <div class="card-body">
                    <h2 class="card-title">
                        Shoes!
                        <div class="badge badge-secondary">NEW</div>
                    </h2>
                    <p>If a dog chews shoes whose shoes does he choose?</p>
                    <div class="card-actions justify-end">
                        <div class="badge badge-outline">Fashion</div>
                    </div>
                </div>
            </div>

            <div class="card w-96 bg-base-100 shadow-xl swiper-slide">
                <figure><img src="https://placeimg.com/400/225/arch" alt="Shoes" /></figure>
                <div class="card-body">
                    <h2 class="card-title">
                        Shoes!
                        <div class="badge badge-secondary">NEW</div>
                    </h2>
                    <p>If a dog chews shoes whose shoes does he choose?</p>
                    <div class="card-actions justify-end">
                        <div class="badge badge-outline">Fashion</div>
                    </div>
                </div>
            </div>

            <div class="card w-96 bg-base-100 shadow-xl swiper-slide">
                <figure><img src="https://placeimg.com/400/225/arch" alt="Shoes" /></figure>
                <div class="card-body">
                    <h2 class="card-title">
                        Shoes!
                        <div class="badge badge-secondary">NEW</div>
                    </h2>
                    <p>If a dog chews shoes whose shoes does he choose?</p>
                    <div class="card-actions justify-end">
                        <div class="badge badge-outline">Fashion</div>
                    </div>
                </div>
            </div>

            <div class="card w-96 bg-base-100 shadow-xl swiper-slide">
                <figure><img src="https://placeimg.com/400/225/arch" alt="Shoes" /></figure>
                <div class="card-body">
                    <h2 class="card-title">
                        Shoes!
                        <div class="badge badge-secondary">NEW</div>
                    </h2>
                    <p>If a dog chews shoes whose shoes does he choose?</p>
                    <div class="card-actions justify-end">
                        <div class="badge badge-outline">Fashion</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="news-swiper-pagination flex flex-row items-center justify-center w-20 mx-auto mt-5"></div>
    </div>

    <h2 class="text-3xl lg:text-5xl font-bold px-2.5 sm:px-5 lg:px-10 pb-10 sm:pb-20">O nás</h2>

    <div class="flex flex-col items-center w-full 2xl:flex-row px-2.5 sm:px-5 lg:px-10 pb-10 sm:pb-20">
        <div class="grid flex-grow w-full 2xl:w-1/2 pr-10 card rounded-box place-items-center"><p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent fringilla eget erat sed vestibulum. Ut non porta arcu, vitae ullamcorper orci. Suspendisse pellentesque turpis ac velit gravida, quis fringilla nunc euismod. Nam sit amet facilisis nisi, at vulputate tortor. Nulla lacus metus, vulputate eget vulputate ut, tincidunt in risus. In et ipsum magna. Curabitur in velit cursus, imperdiet leo id, varius mauris. Donec non semper magna. Integer sem enim, porttitor non est id, pharetra posuere mi. Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam eget bibendum purus, a bibendum nisl. Duis malesuada euismod nunc eget laoreet. Integer pharetra et erat vitae hendrerit.

                Phasellus congue auctor pharetra. Aliquam ut ante sit amet neque tincidunt faucibus. Nulla maximus hendrerit risus, blandit tincidunt nisi porttitor ut. Praesent auctor mauris scelerisque augue efficitur, in bibendum orci scelerisque. Aliquam erat volutpat. Pellentesque tempor quis enim et pellentesque. Suspendisse feugiat purus lorem, elementum elementum nisl accumsan cursus. In hac habitasse platea dictumst. Integer a finibus est. Vestibulum vulputate, velit vel tristique finibus, neque lorem fermentum leo, in gravida diam metus non nisi.
            </p>
        </div>
        <div class="stats stats-vertical lg:stats-horizontal shadow w-auto lg:w-full 2xl:w-1/2 h-auto mt-10 2xl:mt-0" >
            <div class="stat w-1/3">
                <div class="stat-figure text-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-8 h-8 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"></path></svg>
                </div>
                <div class="stat-title">Aktuálne psy v útulku:</div>
                <div class="stat-value">25.6K</div>
            </div>

            <div class="stat w-1/3">
                <div class="stat-figure text-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-8 h-8 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 10V3L4 14h7v7l9-11h-7z"></path></svg>
                </div>
                <div class="stat-title">Čaká na adopciu:</div>
                <div class="stat-value">2.6M</div>
            </div>

            <div class="stat w-1/3">
                <div class="stat-figure text-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-8 h-8 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
                </div>
                <div class="stat-title">Celkom adoptovaných psov:</div>
                <div class="stat-value">86%</div>
            </div>

        </div>
    </div>

    <h2 class="text-3xl lg:text-5xl font-bold px-2.5 sm:px-5 lg:px-10 pb-10 sm:pb-20">Novinky</h2>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-2.5 sm:gap-5 lg:gap-10 px-2.5 sm:px-5 lg:px-10 pb-10 sm:pb-20 w-full">
        <div class="card lg:card-side bg-base-100 shadow-xl sm:col-start-1 sm:col-end-3 w-full">
            <figure><img src="https://placeimg.com/400/400/arch" alt="Album" class="rounded-xl w-full"/></figure>
            <div class="card-body items-center text-center lg:items-start lg:text-left">
                <h2 class="card-title">New album is released!</h2>
                <p>Click the button to listen on Spotiwhy app.</p>
                <div class="card-actions justify-end">
                    <button class="btn btn-primary">Listen</button>
                </div>
            </div>
        </div>

        <div class="card bg-base-100 shadow-xl w-full">
            <figure class="sm:px-2.5 sm:pt-2.5 sm:px-5 sm:pt-5 lg:px-10 lg:pt-10">
                <img src="https://placeimg.com/400/225/arch" alt="Shoes" class="rounded-xl w-full" />
            </figure>
            <div class="card-body items-center text-center">
                <h2 class="card-title">Shoes!</h2>
                <p>If a dog chews shoes whose shoes does he choose?</p>
                <div class="card-actions">
                    <button class="btn btn-primary">Buy Now</button>
                </div>
            </div>
        </div>

        <div class="card bg-base-100 shadow-xl w-full">
            <figure class="sm:px-2.5 sm:pt-2.5 sm:px-5 sm:pt-5 lg:px-10 lg:pt-10">
                <img src="https://placeimg.com/400/225/arch" alt="Shoes" class="rounded-xl w-full" />
            </figure>
            <div class="card-body items-center text-center">
                <h2 class="card-title">Shoes!</h2>
                <p>If a dog chews shoes whose shoes does he choose?</p>
                <div class="card-actions">
                    <button class="btn btn-primary">Buy Now</button>
                </div>
            </div>
        </div>
    </div>

    <a href="" class="btn btn-primary flex items-center justify-center w-40 mx-auto mb-10 sm:mb-20">všetky novinky</a>

{% endblock %}